@tailwind base;
@tailwind components;
@tailwind utilities;

.tg-text-gradient {
  background-color: #2600fc;
  background-image: linear-gradient(25deg, #2600f3, #ff00ea);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
